<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>$(API_BASE_URL)</string>
	<key>NSCameraUsageDescription</key>
	<string>Camera is used to scan receipts for expense tracking.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photo library access is used to select receipt images.</string>
</dict>
</plist>
